layout: index
description: VTK.js a Visualization Toolkit for the Web
subtitle: Sample Data Visualizations with vtk.js
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="list").link Scene Explorer
      p.intro-feature-desc Export your scene in ParaView and share them on the web

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="list/volume.html").link Volume Viewer
      p.intro-feature-desc View and tune your rendering of your volume data in the Web

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-graduation-cap
      h3.intro-feature-title
        a(href="list/geometry.html").link Geometry Viewer
      p.intro-feature-desc Export your geometry file in VTK/ParaView and share them on the web

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-comments-o
      h3.intro-feature-title
        a(href="list/obj.html").link OBJ Viewer
      p.intro-feature-desc You have models with textures, just look at them on the web

center
  a(href="./list/scene_lidar.html")
    img(style="margin: 0.5%", src="/vtk-js-datasets/list/scene/lidar.jpg", width="15%")
  a(href="./list/scene_singlepin.html")
    img(style="margin: 0.5%", src="/vtk-js-datasets/list/scene/singlepin.jpg", width="15%")
  a(href="./list/scene_earth.html")
    img(style="margin: 0.5%", src="/vtk-js-datasets/list/scene/earth.jpg", width="15%")
  a(href="./list/volume_lidc_small.html")
    img(style="margin: 0.5%", src="/vtk-js-datasets/list/volume/LIDC2.jpg", width="15%")
  a(href="./list/obj_uh60.html")
    img(style="margin: 0.5%", src="/vtk-js-datasets/list/obj/blackhawk.jpg", width="15%")
  a(href="./list/obj_f1.html")
    img(style="margin: 0.5%", src="/vtk-js-datasets/list/obj/f1.jpg", width="15%")